<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Server-Side Rendering Example using Micro-Frontends in AWS">
    <title>AWS micro-frontends</title>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <script src="https://kit.fontawesome.com/09fc766a8c.js" crossorigin="anonymous" async></script>
    <style>
        body {
            font-family: Helvetica, sans-serif;
        }
        .logo {
            color: white;
            display: inline-block;
            font-size: 25px;
            margin: 5px;
        }
        header {
            width: 100%;
            padding: 5px;
            height: 30px;
            background-color: #D3D3D3;
        }
    </style>
</head>
<body>
    <header>
        <i class="fa-regular fa-credit-card"></i>
    </header>

    <div id="notificationscontainer" hx-get="/api/notifications" hx-trigger="load"></div>

    <div id="catalog" hx-get="/api/catalog" hx-trigger="load" hx-target="#catalog" hx-swap="outerHTML">
        Loading catalog...
    </div>

    <div id="review" hx-get="/api/review" hx-trigger="load" hx-target="#review" hx-swap="outerHTML">
        Loading reviews...
    </div>
</body>
</html>
